body{
    background-color: gray;
    height: 100%;
    padding: 10px 50px;
}
#banner{
    background: url('./images/banner_1.png');
    background-size: cover;
    height: 450px;
    color: white;
    position: relative;
    z-index: 0;
}
#banner::before {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.5);  
    z-index: -1;
}
#content{
    max-width: 770px;
    padding: 10px;
    position: relative;
    z-index: 1;
}
#foodSection{
    margin-top: 80px;
}